.interact__content{
    position: relative;

}

.interact__info{
    position: absolute;
    left: 45%;
    top: 35%;
    background-color: var(--White);
    padding: 4rem;    
    width: fit-content;
    color: var(--Black);
}
.interact__info h5{
    font-size: 38px;
    font-family: var(--Alata);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.interact__info p{
    font-size: 18px;
    font-family: var(--Alata);
    font-weight: 400;
    color: var(--Dark-Gray);
    padding-top: 2rem;
}

@media only screen and (max-width: 550px){
    .interact__info{
        position: relative;
        left: 0;
        top: 0;
        padding: 1rem;
        width: fit-content;
        text-align: center;
    }
    .interact__content img{
        max-width: 100%;
    }
    .interact__info h5{
        font-size: 22px;
    }
    .interact__info p{
        font-size: 14px;
    }

}
@media only screen and (min-width:600px) and (max-width: 1200px){
    .interact{
        margin-top: 2rem;
    }
    .interact__content img{
        max-width: 100%;
    }
    .interact__info h5{
        font-size: 30px;
    }
    .interact__info p{
        font-size: 20px;
    }
    .interact__info{
        position: relative;
        left: 0;
        top: 0;
        padding: 2rem;
        width: fit-content;
        text-align: center;
    }
}